#main {
  display: flex;
  height: 100%;
  width: 100%;
}

#root {
  height:100%;
}

#map-container {
  /* height: 100%; */
  height:100%;
  flex-grow: 2;
}

.mapboxgl-canvas {
    /* width: 110% !important; */
}

.mapboxgl-control-container {
  display: none !important;
}
