#main {
  display: flex;
  height: 85%;
  width: 100%;
}

#map-container {
  height: 100%;
  flex-grow: 2;
}

.mapboxgl-canvas {
    width: 110% !important;
}

.mapboxgl-control-container {
  display: none !important;
}
